/* tag */
body{
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-size: 100px;
  font-weight: bold;
}
/* mix */
.btn_primary{
  border-radius: 0;
  background: #000;
  color:  #fff;
  font-weight: 600;
  padding: 8px 20px;
}

.list-inline{
  margin: 0;
}

/* header */
.logo img{
  height: 14px;
}

.header_top{
  line-height: 70px;
  height: 70px;
}

.main_nav li{
  text-transform: uppercase;
  margin-left: 20px;
}

.main_nav a, .lang{
  color:  #000;
  font-size: 11px;
  font-weight: 600;
}

.main_nav a:hover{
  text-decoration: none;
}

.second_nav button:hover{
  color: #fff;
}

.lang{
  background: transparent;
  border: none;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  text-transform: uppercase;
  margin: 0 10px 0 25px;
  line-height: normal;
}
/* hero */
.hero{
  margin: 70px 0;
}
.hero_img img{
  width: 100%;
}


/* SECTIONS */


/* RESPONSIVE */
@media screen and (max-width: 992px){
  h1{
    font-size: 80px;
  }
}

@media screen and (max-width: 768px){
  h1{
    font-size: 60px;
  }
}
